{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Aplikacja w DŻANGO</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- dodatkowa czcionka -->
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	<!-- pliki statyczne dodane za pomocą django-->
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>

<body>
	<div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus"></i></a>
        {% endif %}
		<h1><a href="/">Blog Dżango</a></h1>
	</div>
	
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}

				{% endblock %}
			</div>	
		</div>
	</div>	
		
</body>

</html>